  
<%= form_for @menu do |f| %>
 
 <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@menu.errors.count, "error") %> prohibited
        this menu from being saved:
      </h2>
      <ul>
        <% @menu.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 

      <div class="row">

         <div class="form-group col-md-6">
          <label>menu Name</label>
          <%= f.text_field :name, class: "form-control"   %>
        </div>
      </div>
      <br>
    <div class="row">
     <div class="form-group col-md-2">
           <%= f.submit  class: "form-control btn btn-success" %>
     </div>

   </div>


<%end%>
