<div class="container content">
  <h1>Listing menus</h1>
<%= link_to 'Create menu', new_menu_path, class: "btn btn-info" %>
<p></p>
<table class="table table-bordered table-hover">
  <tr class="table-info">
    <th>menu</th>
    <th>Show menu & Create Dish</th>
    <th>Edit menu</th>
    <th>Delete menu</th>    
  </tr>
 
  <% @menus.each do |menu| %>
    <tr>
      <td><%= link_to "#{menu.name}", menu_path(menu) %></td>
      <td><%= link_to '<i class="bi bi-eye-fill view"/>'.html_safe, menu_path(menu) %></td>
      <td><%= link_to '<i class="bi bi-pencil-fill edit"/>'.html_safe, edit_menu_path(menu) %></td>
      <td><%= link_to '<i class="bi bi-trash-fill trash"/>'.html_safe, menu_path(menu),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
</div>
<%= render 'style'%>

