<div class="container content">
	<%= link_to 'Back', menus_path, class: "btn btn-info" %>&nbsp;&nbsp;
	<%= link_to "Create dish", new_menu_dish_path(@menu), class: "btn btn-success" %>

	<div class="menu section-title">
	  <h2>Menu  <span><%= @menu.name %></span></h2>
	</div>

	<div class="dish">
		<h2>Dishes</h2>
		<%= render 'dishes/dish', :dishes => @menu.dishes  %>
	</div>

</div>

<%= render 'style' %>

<style type="text/css">
	.menu{text-align: center; }
	.dish{}
</style>