<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

<div class="wrapper fadeInDown">
  <div id="formContent" style="margin-top: 10%">
    <!-- Tabs Titles -->
  <%= render "devise/shared/error_messages", resource: resource %>

    <!-- Icon -->
    <div class="fadeIn first">
           <i class="fa fa-user fa-2x" aria-hidden="true" style="color: blue;"></i>    </div>


    <!-- Login Form -->
    <form>
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "fadeIn second",placeholder: "Email",id:"login" %><br>

       
    <%= f.password_field :password, autocomplete: "new-password",class: "fadeIn third",id: "password", placeholder: "Password" %><br>

       <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "fadeIn third",id: "password", placeholder: "Confirm Password" %>

      
          <%= f.submit "Sign up",class: "fadeIn fourth" %>

    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover"><%= render "devise/shared/links" %>
</a>
    </div>

  </div>
</div>
<% end %>
<%= render 'form_style'%>
