<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Pooja got order form <%= @user.name.capitalize %>!</p>
    <p>
    user details<br>
    --------------------------
    </p>
    <p>Name: <%= @user.name.capitalize %></p>
    <p>Email: <%= @user.email %></p>
    <p><%= @user.name.capitalize  %>'s Phone No. : <%= @user.phone %></p>

    <p>
    Subject:<br>
    ----------------------
    </p>
    <p><%= @user.subject.capitalize %></p>

    <p>
    Message:<br>
    -----------------------
    </p>
    <p><%= @user.message %></p>


  </body>
</html>