You got a new user from <%= @user.name %>!
===============================================

user Details:
--------------------------

Name: <%= @user.name %>
Email: <%= @user.email %>
Address: <%= @user.message %>

Message:
<%= @user.message %>