<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.name.capitalize %>! We recevied your message, wait for confirmaition mail, if we not confirm in 5 minutes you can call on this No. +1 868-387-7814 for your order.</p>
 
    <p>
    Your Request:<br>
    -----------------------
    </p>
    <p><%= @user.message %></p>


  </body>
</html>