  
<%= form_for @special_dish do |f| %>
 
 <% if @special_dish.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@special_dish.errors.count, "error") %> prohibited
        this special_dish from being saved:
      </h2>
      <ul>
        <% @special_dish.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 

      <div class="row">

         <div class="form-group col-md-6">
          <label>Heading</label>
          <%= f.text_field :heading, class: "form-control"   %>
        </div>

         <div class="form-group col-md-6">
          <label> Name</label>
          <%= f.text_field :name, class: "form-control"   %>
        </div>

         <div class="form-group col-md-6">
          <label>Add image</label>
          <%= f.file_field :image, class: "form-control", required: true   %>
        </div>

         <div class="form-group col-md-6">
          <label> Descrition</label>
          <%= f.text_area :description, class: "form-control"   %><br>
        </div>

      </div>
    <div class="row">
     <div class="form-group col-md-2">
           <%= f.submit "Submit", class: "form-control btn btn-success" %>
     </div>

   </div>


<%end%>

