<div class="container content">
  <h1>Listing special_dishes</h1>
<%= link_to 'Create special_dish', new_special_dish_path, class: "btn btn-info" %>
<p></p>
<table class="table table-bordered table-hover">
  <tr class="table-info">
    <th>Name</th>

    <th colspan="3">Actions</th>
  </tr>
 
  <% @special_dishes.each do |special_dish| %>
    <tr>
      <td><%= special_dish.name %></td>

      <td><%= link_to '<i class="bi bi-eye-fill view"/>'.html_safe, special_dish_path(special_dish) %></td>
      <td><%= link_to '<i class="bi bi-pencil-fill edit"/>'.html_safe, edit_special_dish_path(special_dish) %></td>
      <td><%= link_to '<i class="bi bi-trash-fill trash"/>'.html_safe, special_dish_path(special_dish),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
</div>             
<%= render 'menus/style'%>
