<div class="container content">
	<%= link_to 'Back', special_dishes_path, class: 'btn btn-info' %>

    <div class="menu section-title">
      <h2>Our Special <span><%= @special_dish.name %></span></h2>
    </div>
    <div class="row">
      <div class="col-md-6">
         <div class="menu section-dish-title">
            <h4>Heading&nbsp; &nbsp;<span><%= @special_dish.heading %></span></h4>
            <h4>Name&nbsp; &nbsp;<span><%= @special_dish.name %></span></h4>
            <h4>Description&nbsp; &nbsp;<span> <%= @special_dish.description %></span></h4>
         </div>      
      </div>
      <div class="col-md-6 ">
        <%= image_tag(@special_dish.image.url, size: "250x200", alt: "Edit Entry")%>
        <%#= link_to '❎'.html_safe, dish_image_destroy_path(@dish, dish_image),
                   data: { confirm: 'Are you sure?' }, class: 'cross' %>
     </div>
    </div>

</div>
<%= render 'menus/style'%>



 