<div class="row">
	<div class="col-lg-2 col-3">
	<% dish.dish_images.each_with_index do |dish_image, i|%>
  <a href="<%= image_url(dish_image.dish_image.url) %>" class="gallery-lightbox-asheesh-<%= dish_image.dish.id %>" alt="dish_image.dish.name" style="<%= i != 0 ? 'display: none;' : 'display: block;' %>">
    <img src="<%= image_url(dish_image.dish_image.pooja.url) %>"  class="img-fluid menu-img hover-shadow cursor s-image">
  </a>
<!-- </div> -->


  <% end%>
</div>
<div class="col-lg-10 col-9">
	     
<div class="menu-content ">
  <%# byebug %>
<a href="#"><%=dish.name%></a><span>$<%=dish.price%></span>
</div>
<div class="menu-ingredients">
<%=dish.description%>
</div>
</div>
</div>
