
  <% menu.dishes.each_with_index do |dish, i|%>
    <%if i.even? && type == "even" %>

      <%= render 'homes/dishes', dish: dish %>
    <% end %>
    <%if i.odd? && type == "odd"%>
      <%= render 'homes/dishes', dish: dish %>
    <% end %>
  <%end%>