

<div class="wrapper fadeInDown" >
  <div id="formContent" class="top">
    <!-- Tabs Titles -->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <!-- Icon -->
    <div class="fadeIn first">
     <i class="bi bi-person-fill fa-2x" aria-hidden="true" style="color: blue; font-size: 2.5rem; "></i>    </div>

    <!-- Login Form -->
    <form>
      <%= f.email_field :email, autofocus: true,class: "fadeIn second", autocomplete: "email",placeholder: "Email" %>
      <!-- <input type="text" id="login" class="fadeIn second" name="login" placeholder="login"> -->
      <%= f.password_field :password, autocomplete: "current-password", class: "fadeIn third", placeholder: "Password"%>

      <!-- <input type="text" id="password" class="fadeIn third" name="login" placeholder="password"> -->
      <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end %>
      <%= f.submit "Log in",class: "fadeIn fourth" %>

      <!-- <input type="submit" class="fadeIn fourth" value="Log In"> -->
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">


      <a class="underlineHover"><%#= render "devise/shared/links" %></a>
    </div>

  </div>
</div>
<% end %>
<%= render 'devise/form_style'%>

