<table>  
<div class="">
<table class="table table-bordered table-hover">
  <tr class="table-info">
    <th>Dish</th>
    <th>Dish details & Add image </th>
    <th>Delete</th>

  </tr>

    <% dishes.each do |dish| %>
    <tr>
      <td><%= link_to "#{dish.name}",menu_dish_path(dish.menu,dish) %></td>
      <td><%= link_to '<i class="bi bi-eye-fill view"/>'.html_safe,menu_dish_path(dish.menu,dish) %></td>
      <!-- <td><%= link_to '<i class="bi bi-pencil-fill edit"/>'.html_safe, edit_menu_dish_path(dish.menu,dish) %></td> -->
      <td><%= link_to '<i class="bi bi-trash-fill trash"/>'.html_safe, [dish.menu, dish], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <%end%>  
</table>
<%= render 'menus/style'%>

