<!--  <%#= form_for([@menu, @menu.dishes.build]) do |f| %>

 
  <p>
    <%#= f.label :name %><br>
    <%#= f.text_field :name %>
  </p>
   <p>
    <%#= f.label :price %><br>
    <%#= f.text_field :price %>
  </p>
  <p>
    <%#= f.label :description %><br>
    <%#= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<%# end %>
 -->