
 
<div class="container content">

    <%= link_to 'Back', menu_path(@menu), class: "btn btn-info" %>
   <div class="menu section-title">
    <h2>Add Dish For <span> <%=@menu.name%></span></h2>
  </div>
  <% if @dish.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@dish.errors.count, "error") %> prohibited
        this dish from being saved:
      </h2>
      <ul>
        <% @dish.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%#byebug%>
  <%#= form_for([@menu, @menu.dishes.build]) do |f| %>
  <%= form_for :dish, url: menu_dishes_path do |f| %>
  <div class="row">
    <div class="col-md-6">
       <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </p>
   <p>
    <%= f.label :price %><br>
    <%= f.text_field :price, class: "form-control" %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </p>
       <div class="col-md-3">
           <p>
    <%= f.submit "Submit", class: "form-control btn btn-success" %>
  </p>
       </div>
    </div>
  </div>
 
  <% end %>
</div>
<%= render 'menus/style'%>
