<div class="container content">
      <%= link_to 'Back', menu_path(@menu), class: "btn btn-info" %>

    <div class="menu section-title section-dish-title">
      <h2>Menu  <span><%= @menu.name %></span></h2>
      <h4>Dish&nbsp;<span><%= @dish.name %></span></h4>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
         <div class="menu section-dish-title">
            <h4>Dish&nbsp; &nbsp;<span><%= @dish.name %></span></h4>
            <h4>Price&nbsp; &nbsp;<span><%= @dish.price %></span></h4>
            <h4>Description&nbsp; &nbsp;<span><%= @dish.description %></span></h4>
         </div>      
      </div>
      <div class="col-md-4">
        <h4>Add image
        <%= form_for :dish_image, url: dish_images_path(@dish) do |f| %>  
          <%= f.file_field :dish_image, class: "form-control", required: true %>
          <%= f.submit "Submit", class: "btn-sm btn-success" %>
        <% end %></h4>
      </div>
    </div>
    <br>
    <hr>
   <div class="row">
        <% @dish.dish_images.each do |dish_image| %>
          <div class="col-md-3 col-4">
            <%= image_tag(dish_image.dish_image.url, size: "80x80", alt: "Edit Entry", class: 'image')%>
            <%= link_to '❎'.html_safe, dish_image_destroy_path(@dish, dish_image),
                       data: { confirm: 'Are you sure?' }, class: 'cross' %>
         </div>
      <% end %>
   </div>
   <hr>
</div>
<%= render 'menus/style'%>
