  
<%= form_for @about do |f| %>
 
 <% if @about.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@about.errors.count, "error") %> prohibited
        this about from being saved:
      </h2>
      <ul>
        <% @about.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 

      <div class="row">

         <div class="form-group col-md-12">
          <%= f.cktext_area :description, class: "form-control"   %>
        </div>
      </div>
      <br>
    <div class="row">
     <div class="form-group col-md-2">
           <%= f.submit  class: "form-control btn btn-warning" %>
     </div>

   </div>


<%end%>
