<div class="container content" >
	<%= link_to 'Show', about_path(@about), class: "btn btn-success" %>&nbsp;&nbsp;
<br>
<br>
<h1>Edit about</h1>
 <%#= link_to 'Back', abouts_path, class: "btn btn-info" %>
 <p></p>
<%= render 'form' %>
</div> 
<%= render 'menus/style'%>
