<div class="container content">
	<%#= link_to 'Back', new_about_path, class: "btn btn-info" %>&nbsp;&nbsp;
	<%= link_to 'Edit', edit_about_path(@about), class: "btn btn-info" %>&nbsp;&nbsp;

<br>
<br>
	 <h4> About</h4>  <%= @about.description.html_safe %>
</div>

<%= render 'menus/style' %>

