<%= form_for @gallery do |f| %>
 
 <% if @gallery.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@gallery.errors.count, "error") %> prohibited
        this gallery from being saved:
      </h2>
      <ul>
        <% @gallery.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 

      <div class="row">
         <div class="form-group col-md-6">
          <label>gallery image</label>
          <%= f.file_field :gallery_image, class: "form-control", required: true   %><br>
        </div>
      </div>
    <div class="row">
     <div class="form-group col-md-2">
           <%= f.submit "Submit",  class: "form-control btn btn-success" %>
     </div>

   </div>


<%end%>

    