<div class="container content">
  <h1>Listing galleries</h1>
<%= link_to 'Create gallery', new_gallery_path, class: "btn btn-info" %>
<p></p>
<table class="table table-bordered table-hover">
  <tr class="table-info">
    <th>image</th>

    <th colspan="2">Actions</th>
  </tr>
 
  <% @galleries.each do |gallery| %>
    <tr>
      <td>    <%= image_tag(gallery.gallery_image.url, size: "80x80", alt: "Edit Entry")%>
     </td>
      <td><%= link_to '<i class="bi bi-pencil-fill edit"/>'.html_safe, edit_gallery_path(gallery) %></td>
      <td><%= link_to '<i class="bi bi-trash-fill trash"/>'.html_safe, gallery_path(gallery),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
</div>  
<%= render 'menus/style'%>
